/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'circular';
	src: url('../fonts/circularBook.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'circularBold';
	src: url('../fonts/circularTitle.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}


/************/
/* ALGEMEEN */
/************/
*, *::after, *::before {
  box-sizing:border-box;  
}

html {
  height:100%;
}

button:not(:disabled), summary {
	cursor: pointer;
}

input {
  font:inherit;
}

:root{
  --swiper-theme-color:white;

  /*achtergrond kleuren liedjes -> gebruikte generator: https://mycolor.space/gradient3*/
  --savaidunav-background: linear-gradient(to right bottom, #322a28, #342c2d, #342e31, #343035, #333338, #303338, #2d3336, #2b3334, #272f2e, #242c27, #232721, #23231b);
  --namere-background: linear-gradient(to right top, #3b5256, #3f565a, #445b5e, #485f63, #4d6467, #4d6468, #4e6568, #4e6569, #4a6266, #465e63, #435b60, #3f585d);
  --dzanum-background: linear-gradient(to right top, #614843, #654e4d, #685556, #6a5c5f, #6c6366, #6d6567, #6d6669, #6e686a, #6d6466, #6d6062, #6c5c5d, #6b5858); 
  --level-background: linear-gradient(to right top, #331718, #2f171a, #2a181c, #26191c, #21191c, #20191c, #20191b, #1f191b, #22191b, #24191a, #271a19, #291a18);
  --februar-background: linear-gradient(to right top, #37272a, #36272a, #35282b, #33282b, #32282b, #35292c, #37292d, #3a2a2e, #412b30, #472c31, #4e2e31, #542f31);
  --dalisi-background: linear-gradient(to right top, #293335, #252f31, #222c2e, #1e282a, #1b2527, #1a2426, #1a2426, #192325, #1a2427, #1c2628, #1d272a, #1f292c);
  --zlatnodete-background: linear-gradient(to right top, #29312a, #2a342a, #2b372a, #2d3a2a, #2f3d29, #323f27, #354024, #394221, #40421b, #474216, #4f4112, #583f0f);
  --behute-background: linear-gradient(to right top, #3a201c, #3c201c, #3e1f1c, #3f1f1d, #411e1d, #431f1d, #451f1c, #47201c, #4a221b, #4c241b, #4f271a, #512919);
  --tiija-background: linear-gradient(to right top, #1c1d1e, #1c1c1d, #1b1b1c, #1b1b1b, #1a1a1a, #1a1a1a, #191919, #191919, #191919, #191a19, #1a1a1a, #1a1a1a);
  --grijehje-background: linear-gradient(to right top, #513a25, #4a3724, #423424, #3c3023, #352d23, #382f24, #3c3024, #3f3225, #4d3a27, #5c4129, #6c492c, #7c502f); 
  --letoje-background: linear-gradient(to right top, #5b626a, #565c67, #515663, #4e505f, #4b4a5b, #4a4a5d, #4a4a5e, #494a60, #485169, #475971, #446079, #41687f);
  --moncheri-background: linear-gradient(to right top, #1b1c1c, #1b1c1c, #1a1b1c, #1a1b1b, #1a1a1b, #1a1a1b, #1a1a1a, #1a1a1a, #1a1a1a, #1b1a1b, #1b1b1b, #1b1b1c);
  --kolo-background: linear-gradient(to right top, #1d1d1c, #1d1d1c, #1d1c1c, #1c1c1c, #1c1c1c, #1c1c1c, #1d1d1d, #1d1d1d, #1d1d1d, #1e1e1e, #1e1e1e, #1f1f1f);

  /*lightmode palet*/
  --playlistLi-background-lightmode: rgb(179, 179, 179);
  --playlistLi-hover-background-lightmode: #5871759f;
  --deleteButton-hover-background-lightmode: rgba(224, 224, 224, 0.404);
  --whiteSpace:clamp(1em, 4vw, 1.5em);
  --fontKleur-lightmode:#000;
  --achtergrondKleur-lightmode:rgb(214,214,214);
  --li-drag-lightmode: #609097d3;
  --shuffle-color-lightmode: #33666d;
 
  /* darkmode palet */
  --fontKleur-darkmode:rgb(255, 255, 255);
  --achtergrondKleur-darkmode:#111;
  --listColor-darkmode:#222;
  --playlistLi-background-darkmode: rgb(53, 53, 53);
  --playlistLi-hover-background-darkmode: #442e32d3;
  --deleteButton-hover-background-darkmode: rgba(224, 224, 224, 0.185);
  --li-drag-darkmode: rgba(187, 69, 89, 0.883);
  --shuffle-color-darkmode: rgb(119, 88, 15);
 
  /* lightmode properties */
  --playlistLi-background: var(--playlistLi-background-lightmode);
  --playlistLi-hover-background: var(--playlistLi-hover-background-lightmode);
  --deleteButton-hover-background: var(--deleteButton-hover-background-lightmode);
  --fontkleur: var(--fontKleur-lightmode);
  --achtergrondKleur: var(--achtergrondKleur-lightmode);
  --li-drag-kleur: var(--li-drag-lightmode);
  --shuffle-color: var(--shuffle-color-lightmode);
}


/************/
/* DARKMODE */
/************/
@media (prefers-color-scheme:dark) {
  :root{
    --playlistLi-background: var(--playlistLi-background-darkmode);
    --playlistLi-hover-background: var(--playlistLi-hover-background-darkmode);
    --deleteButton-hover-background: var(--deleteButton-hover-background-darkmode);
    --fontkleur: var(--fontKleur-darkmode);
    --achtergrondKleur: var(--achtergrondKleur-darkmode);
    --li-drag-kleur: var(--li-drag-darkmode);
    --shuffle-color: var(--shuffle-color-darkmode);
  }
}


/********/
/* BODY */
/********/
body {  
  height:100%;
  width: 100vw;
  margin:0;
  
  display:grid; 
  grid-template-rows: 6em 1fr 1fr;
  /* grid-template-rows:min-content 1fr 12em; */

  justify-content:center;
  font-family: 'circularBold';
  color: var(--fontkleur);
  background-color:var(--achtergrondKleur);
}


/**********/
/* HEADER */
/**********/
header {
  max-width:28em;
  padding:var(--whiteSpace);
  text-align:center;
  /* position: absolute; */
}


/*************************/
/* SECTION:FIRST-OF-TYPE */
/*************************/
section:first-of-type {
  width:100%;
  height: 100%;
  max-width:22em;
  max-height: 35em;
  margin:0 auto;
  border-radius:calc(var(--whiteSpace) / 2); /* calc wordt gebruikt om wiskundige berekeningen 
  uit te voeren in CSS en /2 deelt het aantal van de var*/
  overflow:scroll;
}


/**********/
/* SLIDER */
/**********/
.swiper-pagination{
  color: white;
}

h1 {
  margin-bottom:0;
}

h1 + p {
  font-weight:bold;
}

p {
  margin:0;
}

input {
  font:inherit;
}

.swiper-slide{
  color: var(--fontKleur-darkmode);
}

.swiper ul {
  /* height:100%; */
  margin:0;
  padding:0;
  list-style:none;
  flex-shrink: 0; /*zorgt ervoor dat carousel niet krimpt*/
}

.swiper li { 
  /* height:100%; */
  
  /* !important is nodig omdat swiper.js display:block; aan de li toevoegt - en daardoor zou de lay-out van de kaart misgaan */
  display:flex !important; 
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.swiper li h2 {
  margin-top: 0.8em;  
  font-size: 1.4em;
  font-family: 'circularBold';
}

.swiper li p {
  margin-top: -0.7em;
  font-family: 'circular';
  font-size: 0.8em;
}

.swiper li img {
  width:auto;
  height:13em;
  order:-1;
}

.swiper-button-prev,
.swiper-button-next {
  border:none;
  background:none;
}

.swiper-wrapper {
  min-height: 0;
}


/**************************/
/* ACHTERGRONDEN - SLIDER */
/**************************/
li:first-of-type{
  background: var(--savaidunav-background);
}

li:nth-of-type(2){
  background: var(--namere-background);
}

li:nth-of-type(3){
  background: var(--dzanum-background);
}

li:nth-of-type(4){
  background: var(--level-background);
}

li:nth-of-type(5){
  background: var(--februar-background);
}

li:nth-of-type(6){
  background: var(--dalisi-background);
}

li:nth-of-type(7){
  background: var(--zlatnodete-background);
}

li:nth-of-type(8){
  background: var(--behute-background);
}

li:nth-of-type(9){
  background: var(--tiija-background);
}

li:nth-of-type(10){
  background: var(--grijehje-background);
}

li:nth-of-type(11){
 background: var(--letoje-background);
}

li:nth-of-type(12){
  background: var(--moncheri-background);
}

li:nth-of-type(13){
  background: var(--kolo-background);
}

section:last-of-type div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*******************/
/* PLAYLIST FOOTER */
/*******************/
.playlist{
	list-style: none;
	padding: 0;
	display: grid;
  align-content: start;
  gap: .5em;

  height: 12em;
  overflow: scroll;
  
  margin: 0;
  white-space: nowrap; /*de tekst wordt op één regel weergegeven zonder te worden afgebroken.*/
}

.playlist li {
	background: var(--playlistLi-background);
	border-radius: .5em;

	display: flex;
	flex-direction: row;
  align-items: center;

	cursor: grab;
  width: 22em;

  max-height: 3em; /*hierdoor wordt de li niet vergroot bij het verwijderen van de li's*/
}

.playlist li:hover{
  background: var(--playlistLi-hover-background);
}
  
.playlist li h2{
  font-size: 1em;
  margin-left: .625em;
}

.playlist img{
  height: 2em;
  border-radius: .2em;
  margin-left: 1em;
  order: -1;
}

.deleteButton{
  background: none;
	border: none;
  border-radius: .2em;
	font-size: 1.5em;
  margin-left: auto;
  margin-right: .7em;
}

.deleteButton:hover{
  background: var(--deleteButton-hover-background);
}

li.sortable-drag {
	background: var(--li-drag-kleur);
	cursor: grab;
}


/****************/
/* DRAG EN DROP */
/****************/
li.sortable-ghost{
  cursor: grabbing;
}

/******************/
/* SHUFFLE BUTTON */
/******************/
/* https://www.youtube.com/watch?v=lK2aiH1EP7w */
.shuffle{
  font-size: 2em;
  color: white;
  display: grid;
  place-items: center;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: none;
  background: var(--shuffle-color);
}

@media (width>60em){
  main{
    display: grid;
    grid-template-columns: 1fr 30em;
    width: 100vw;
    justify-items: center;
    position: relative;
  }
  
  section:first-of-type {
    position: absolute;
    left: 8em;
    top: 4.3em;
    grid-row: 1; /* De swiper-sectie start op de eerste rij */
    grid-column: 1; /* De swiper-sectie start op de eerste kolom */
  }
  
  section:last-of-type {
    /* margin-top: 3em; */
    grid-row: 1; /* De playlist-sectie start op de eerste rij */
    grid-column: 2; /* De playlist-sectie start op de tweede kolom */
  }
  
  .playlist{
    height: 100vh;
  }

  h1{
    margin-top: 2.6em;
  }
}










