/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'SoDoSans-Bold';
	src: url('../fonts/SoDoSans-Bold.61c2ffb.woff2') format('woff2');
	font-style: normal;
}


/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/*kleurpalet*/
	--starbucks-house-green: #1e3932;
	--starbucks-light-green: #d4e8e2;
	--starbucks-green: #036142;

	--koffie-donker-bruin: #4a2c2a;
	--ijskoffie-licht-bruin: #C4A484;

	--light-mode-coffeeFill:#e7dfc5;
	--dark-mode-coffeeFill: #335c50;

	--color-text:#111;
	--lightMode-color-background:#f2f0ea;

	--lightMode-koffieBeker-border: #111;
	--darkMode-koffieBeker-border: #f2f0ea;

	--darkmode-color-text: #f2f0ea;



	/*LightMode*/
	--letter-color:var(--starbucks-house-green);
	--coffee-color:var(--koffie-donker-bruin);

	--Koffiefill-color:var(--light-mode-coffeeFill);
	--KoffieDruppel-color: var(--koffie-donker-bruin);
	--koffie-in-beker: var(--koffie-donker-bruin);
	--koffie-beker-border: var(--lightMode-koffieBeker-border);
	--achtergrond-kleur: var(--lightMode-color-background);
}


/***********************/
/***Light & Dark mode***/
/***********************/
@media (prefers-color-scheme:dark){ 
	:root {
		--letter-color:var(--starbucks-light-green);
		--coffee-color:var(--ijskoffie-licht-bruin);

		--Koffiefill-color:var(--dark-mode-coffeeFill);
		--KoffieDruppel-color: var(--ijskoffie-licht-bruin);
		--koffie-in-beker: var(--ijskoffie-licht-bruin);
		--koffie-beker-border: var(--darkMode-koffieBeker-border);
		--achtergrond-kleur: var(--starbucks-house-green);
		--letter-color:var(--darkmode-color-text);
	}
}



/****************/
/* JOUW STYLING */
/****************/

/*Opfrismiddel flexbox -> https://ishadeed.com/article/learn-css-centering/#:~:text=To%20center%20an%20inline%20element,is%20text%2Dalign%3A%20center%20.&text=For%20multiple%20inline%20elements%2C%20the,using%20text%2Dalign%3A%20center%20.*/
body {
  font-family:'SoDoSans-Regular', sans-serif;
  color:var(--color-text);
  background-color:var(--achtergrond-kleur);
	display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* jouw code */
span{
	font-family: 'SoDoSans-Bold';
	color: var(--letter-color);
}

h1{
	font-size: clamp(2.5em, 8vw, 6.25em); /*clamp= https://www.youtube.com/watch?v=erqRw3E-vn4*/
	cursor: pointer;
}


/***************/
/***Letter B***/
/***************/
h1:hover span:nth-of-type(5) {
	animation-name: letterBanimatie;
	animation-duration: 5s;
	animation-fill-mode: forwards; /*-> https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode*/
	display: inline-block;

	/*M.b.v. inline-block kan de animatie van de letter B plaatsvinden op dezelfde regel van de H1. Zonder
	inline-block, zouden de letters uit elkaar staan, zodat de letter b animatie groter/kleiner kan worden.
	Dus met inline-block, wordt de animatie in een soort blokje afgespeeld. Zodat het geen andere elementen
	hindert.*/
}

h1:hover span:nth-of-type(6){
	position: relative;
}

h1:hover span:nth-of-type(6)::before{
	content: "";
	width: 0.15em;
	height: 0.15em;
	background-color: var(--KoffieDruppel-color);
	position: absolute;
	border-radius: 155% 0 155% 120%;
	bottom: -5%;
	left: -110%;
	transform: rotate(-45deg);
	animation: druppelEen 10s;
	animation-fill-mode: forwards; 
}

h1:hover span:nth-of-type(6)::after{
	content: "";
	width: 0.15em;
	height: 0.15em;
	background-color: var(--KoffieDruppel-color);
	position: absolute;
	border-radius: 155% 0 155% 120%;
	bottom: -5%;
	left: -80%;
	transform: rotate(-45deg);
	animation: druppelTwee 10s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
	opacity: 0;
}


/***********************/
/***Letter B animatie***/
/***********************/

/*Hulpmiddel met scale -> https://www.youtube.com/watch?v=L4RYwQM_Wvk*/
@keyframes letterBanimatie{
  0%{
    transform: scaleY(1);
  }

  20%{
    transform: scaleY(0.6);
  }
  
  40%{
    transform: scaleY(0.6);
  }

	60%{
    transform: scaleY(0.4);
	}

	80%{
    transform: scaleY(0.2);
	}

  100%{
		transform: scaleY(0.1);
  }
}



/******************************/
/***Koffie druppels animatie***/
/******************************/

/*Hulpmiddel fade-in en fade-out: https://www.youtube.com/watch?v=UInN6O_nMKs*/
@keyframes druppelEen{
	0%{
		opacity: 0;
	}

	15%{
		opacity: 1;
	}

	50%{
		transform: translateY(1em);
	}

	60%{
		transform: translateY(1em);
	}

	65%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

@keyframes druppelTwee{
	0%{
		opacity: 0;
	}

	15%{
		opacity: 1;
	}

	50%{
		transform: translateY(1em);
	}

	60%{
		transform: translateY(1em);
	}

	65%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}


/******************/
/***koffie beker***/
/******************/

/*Eefje heeft me hier enorm mee geholpen*/
span:nth-of-type(4){
	position: relative;
}

span:nth-of-type(4)::before{
	content: "";
	background: linear-gradient(to top, var(--koffie-in-beker) 50%, transparent 50%);
	border: 0.02em solid var(--koffie-beker-border);
	width: 1em;
	height: 0.55em;
	z-index: 2; 
	position: absolute;
	border-radius: 0% 2% 36% 38% / 0% 0% 97% 100%;
	top: 1.75em;
	left: 0.8em;
}

span:nth-of-type(4)::after{
	content: "";
  width: 0.3em;
  height: 0.3em;
  position: absolute;
  border-radius: 64% 36% 100% 0% / 100% 34% 66% 0%;
  border: 0.02em solid var(--koffie-beker-border);
  background-color: transparent;
  top: 1.85em;
  left: 1.7em;
}

/********************/
/***Koffie vulling***/
/********************/

/*Hulpmiddel -> https://www.youtube.com/watch?v=wGPDuqgkoew*/
body:hover{
  position: relative;
	overflow: hidden;
}

body:hover::before{
  content:"";
  position:absolute;
  width:200vw;
  height:200vw;
  background: var(--Koffiefill-color);
  left:50%;
  transform:translateX(-50%);
  border-radius:35%;
  animation:koffieFill 5s ease-in forwards;
  z-index:-1;
	margin-top: -1em;
	animation-delay: 3s;
	opacity: 0;
}

@keyframes koffieFill {
  from {
		opacity: 1;
    top:60em;
    transform:translateX(-50%) rotate(0deg);
  }
  to {
		opacity: 1;
    top:-2em;
    transform:translateX(-50%) rotate(360deg);
  }
}




