/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'SoDoSans-Bold';
	src: url('../fonts/SoDoSans-Bold.61c2ffb.woff2') format('woff2');
	font-style: normal;
}





/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not(:disabled), summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#f2f0ea;
	--house-green: #1e3932;
	--light-green: #d4e8e2;
	--starbucks-green: #036142;
}





/****************/
/* JOUW STYLING */
/****************/
body {
  font-family:'SoDoSans-Regular', sans-serif;
  color:var(--color-text);
  background-color:var(--color-background);
}


/* jouw code */
span{
	font-family: 'SoDoSans-Bold';
	color: var(--house-green);
}

/*Opfrismiddel flexbox -> https://ishadeed.com/article/learn-css-centering/#:~:text=To%20center%20an%20inline%20element,is%20text%2Dalign%3A%20center%20.&text=For%20multiple%20inline%20elements%2C%20the,using%20text%2Dalign%3A%20center%20.*/
h1{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

span:nth-of-type(5){
	animation-name: letterB;
	animation-duration: 5s;
}

span:nth-of-type(6){
	position: relative;
}

span:nth-of-type(6)::before{
	content: "";
	width: 0.15em;
	height: 0.15em;
	background-color: #4a2c2a;
	position: absolute;
	border-radius: 155% 0 155% 120%;
	bottom: -5%;
	left: -60%;
	transform: rotate(-45deg);
	animation: druppelEen 10s;
}

span:nth-of-type(6)::after{
	content: "";
	width: 0.15em;
	height: 0.15em;
	background-color: pink;
	position: absolute;
	border-radius: 155% 0 155% 120%;
	bottom: -5%;
	left: -60%;
	transform: rotate(-45deg);
	animation: druppelTwee 10s;
}

@keyframes druppelEen{
	0%{
		opacity: 0;
	}

	15%{
		opacity: 1;
	}

	50%{
		transform: translateY(1em);
	}

	60%{
		transform: translateY(1em);
	}

	65%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

@keyframes druppelTwee{
	0%{
		opacity: 0;
	}

	15%{
		opacity: 1;
	}

	50%{
		transform: translateY(1em);
	}

	60%{
		transform: translateY(1em);
	}

	65%{
		opacity: 0;
	}

	100%{
		opacity: 0;
	}
}

/*Hulpmiddel met scaleX -> https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scaleX*/
@keyframes letterB{
  0%{
    transform: scaleX(1);
  }

  20%{
    transform: scaleX(0.6);
  }
  
  40%{
    transform: scaleX(0.6);
  }

	60%{
    transform: scaleX(0.4);
	}

	80%{
    transform: scaleX(0.2);
	}

  100%{
		transform: scaleX(0.1);
  }
}

/*Hulpmiddel fade-in en fade-out: https://www.youtube.com/watch?v=UInN6O_nMKs*/


/*Hulpmiddel koffie? -> https://www.youtube.com/watch?v=4p1EL-OVwUQ*/

/*Hulpmiddel dark & light mode: https://www.youtube.com/watch?v=nQzRTsjBXfQ*/


